$transition: 0.1s ease-in;

button {
  border: 1px solid $default;
  color: $default-text;
  height: 50px;
  width: 100px;
  cursor: pointer;
  @include transition($transition);

  &:hover {
    background-color: $default;
    color: $white;
  }
}

button.success {
  border: 1px solid $success;
  color: $success;

  &:hover {
    background-color: $success;
    color: $white;
  }
}

button.danger {
  border: 1px solid $danger;
  color: $danger;

  &:hover {
    background-color: $danger;
    color: $white;
  }
}

button.warning {
  border: 1px solid $warning;
  color: $warning;

  &:hover {
    background-color: $warning;
    color: $white;
  }
}
